<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Etsi</title>

        <link rel="stylesheet" href="/public/basicStyles.css">
    </head>

    <body>
        <a href="/"><button>Takaisin</button></a>
        <% if (typeof viesti != 'undefined') { %>
            <pre><%= viesti %></pre>
        <% } %>
        <h1>Hae koira</h1>
        <form action="/koira/yksi" method="POST">
            <label for="numero-input">numero</label>
            <input type="text" name="numero" id="numero-input" class="margin-41-left-width-60 basic-input">

            <br>

            <button type="submit">Etsi</button>
        </form>
    </body>

</html>