<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Valikko</title>

        <link rel="stylesheet" href="/public/basicStyles.css">
    </head>

    <body>
        <h1>Valikko</h1>
        <ul class="basic-ul">
            <li>
                <a href="/koira/kaikki"><button>Hae kaikki</button></a>
            </li>
            <li>
                <a href="/koira/etsi"><button>Hae koira</button></a>
            </li>
            <li>
                <a href="/koira/lisaa"><button>Lisää koira</button></a>
            </li>
            <li>
                <a href="/koira/paivita"><button>Muuta koiran tietoja</button></a>
            </li>
            <li>
                <a href="/koira/poista"><button>Poista koira</button></a>
            </li>
        </ul>
    </body>

</html>